*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    background: rgb(44, 41, 41);
    background-size: cover;
    min-height: 100%;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.almas-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: -1;
}
.almas {
position: relative;
display: flex;
}

.almas div{
    position: relative;
    width: 30px;
    height: 30px;
    background: white;
    margin: 0 25px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px white,
    0 0 70px blue,
    0 0 100px white;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}
.almas div :nth-child(even) {
    background: white;
    box-shadow: 0 0 0 10px white,
    0 0 50px blue,
    0 0 100px white;

}

@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    
}
100% {
    transform: translateY(-10vh) scale(1);
}
}
@font-face {
    font-family: 'Petrona' ;
    src: url(../Fuentes/Petrona/Petrona-Regular.ttf);
    font-weight: normal;
    font-style: bold;
}
h1,h2,h3{
    color: black;
    font-family: 'Petrona';
    font-weight: bold;
    text-align: center;
}
p{
    color: rgb(231, 125, 54);
    font-family: 'Petrona';
    font-weight: normal;
    text-align: center;
    z-index: 2;
}
.boss{
    height: 200px; 
    width: 250px;
    margin: auto;
    cursor: pointer;
    transition: 0.2s;
    /*background: #000000 url("../Imagenes/Fondo_Jefes") fixed;*/

}
.boss:hover{
    transform: scale(1.1);
    transition: 0.2s;
}
.img{
width: 90%;
max-width: 1100px;
margin: 40px auto;
display: grid;
grid-template-columns: repeat(auto-fit, minmax (280px,1fr));
}

.JefesBocasucia{

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 150px;
}
.JefesCrucesOlvidados{

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 150px;
}
.JefesSenderoVerde{

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 150px;
}
.JefesParamosFungicos{

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 150px;
}
.JefesCanalesReales{

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 150px;
}
.JefesdeCañonNublado{

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 150px;
}
.JefesCiudadDeLasLagrimas{

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 150px;
}
.JefesCuencaAntigua{

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 150px;
}
.JefesCumbreDeCristal{

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 150px;
}
.JefesJardinesDeLaReina{

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 150px;
}
.JefesLaColmena{

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 150px;
}
.JefesLimiteDelReino{

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 150px;
}
.JefesNidoProfundo{

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 150px;
}
.JefesTierrasDeReposo{

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 150px;
}
.JefesHogarDeDioses{

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 150px;
}


