body{
    background: black url("../Imagenes/Void.jpg")fixed no-repeat;
    background-size: cover;
}
.fondomedio{
    background: url("../Imagenes/Fondo_Jefes.png") repeat-y 50% ;
    background-size: cover;
    background-position: middle;
    padding: 0px 200px;
    /*margin:  0px 40px;
    border: 0px 40px;*/
    
    
}
@font-face {
    font-family: 'Petrona' ;
    src: url(../Fuentes/Petrona/Petrona-Regular.ttf);
    font-weight: normal;
    font-style: bold;
}
h1,h2,h3{
    color: #ffffff;
    font-family: 'Petrona';
    font-weight: bold;
}
p{
    color: #ffffff;
    font-family: 'Petrona';
    font-weight: normal;
}
.boss{
    height: 200px; 
    width: 250px;
    margin: auto;
    cursor: pointer;
    transition: 0.2s;
    /*background: #000000 url("../Imagenes/Fondo_Jefes") fixed;*/

}
.boss:hover{
    transform: scale(1.1);
    transition: 0.2s;
}
.JefesAcantiladosAulladores{

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 150px;
}
.JefesBocasucia{

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 150px;
}
.JefesCrucesOlvidados{

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 150px;
}
.JefesSenderoVerde{

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 150px;
}
.JefesParamosFungicos{

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 150px;
}
.JefesCanalesReales{

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 150px;
}
.JefesdeCañonNublado{

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 150px;
}
.JefesCiudadDeLasLagrimas{

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 150px;
}
.JefesCuencaAntigua{

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 150px;
}
.JefesCumbreDeCristal{

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 150px;
}
.JefesJardinesDeLaReina{

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 150px;
}
.JefesLaColmena{

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 150px;
}
.JefesLimiteDelReino{

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 150px;
}
.JefesNidoProfundo{

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 150px;
}
.JefesTierrasDeReposo{

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 150px;
}
.JefesHogarDeDioses{

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 150px;
}

